<ion-header>
  <ion-toolbar>
    <div>
      <h2>ComunidApp</h2>
    </div>
    <ion-buttons slot="start">
        <ion-icon name="menu-outline" color="dark" style="margin: 10px;"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
        <span>&nbsp;</span>
      </ion-button>
      <ion-button class="filter">
        <ion-icon name="cart-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="search ion-padding">
    <ion-item lines="none">
      <ion-input placeholder="Busca tu producto..."></ion-input>
      <ion-icon name="search-outline" slot="start"></ion-icon>
    </ion-item>
  </div>

  <div class="title ion-padding">
    <h2>Categorias</h2>
    <p>See all</p>
  </div>

  <ion-content>
    <ion-card color="light" *ngFor="let product of products">
      <ion-img [src]="product.image" alt="Product Image"></ion-img>
      <ion-card-header>
        <ion-card-title>
          <h2>{{ product.title }}</h2>
        </ion-card-title>
        <ion-card-subtitle>Precio: ${{ product.price }}</ion-card-subtitle>
      </ion-card-header>
      <ion-content>
      </ion-content>
      <ion-button>Ver detalles</ion-button>
    </ion-card>
  </ion-content>


